# ONLY EXAMPLE CONFIG

PIPELINE=prod
MAX_CONCURRENT_REQUESTS=1
PREFETCH_COUNT=1

# You can specify vals based on chosen broker
KEY_FAST = 'to.router_to_ez'
KEY_QUALITY = 'q.router_to_nmt'

# LOGGING
LOG_FILE=test.log
LOG_LEVEL=INFO
METRICS_PORT=9090
METRICS_SERVICE_NAME=router

MESSAGE_BROKER=rabbitmq

# RABBIT
RABBITMQ_URI = 'amqp://fluence_router_stl:rabbit_changeme@rabbitmq:5672/%2Ffluence_translation'
RABBITMQ_EXCHANGE = 'fluence_translation.topic'
RABBITMQ_ROUTING_KEY = 'to.router_to_ez'
RABBITMQ_QUEUE = 'q.in_gateway'
RABBITMQ_RETRIES = 3

RABBITMQ_ROUTING_KEY_FAST = 'to.router_to_ez'
RABBITMQ_ROUTING_KEY_QUALITY = 'to.router_to_nmt'
# ROUTING PARAMETERS

QUEUE_DEPTH_STATIC=0
