# ONLY EXAMPLE CONFIG

PIPELINE=prod

# You can specify vals based on chosen broker
KEY_FAST = 'to.router_to_ez'
KEY_QUALITY = 'q.router_to_nmt'

# LOGGING
LOG_FILE=test.log
LOG_LEVEL=INFO

MESSAGE_BROKER=rabbitmq

# RABBIT
RABBITMQ_URI = 'amqp://fluence_router_stl:rabbit_changeme@rabbitmq:5672/%2Ffluence_translation'
RABBITMQ_EXCHANGE = 'fluence_translation.topic'
RABBITMQ_ROUTING_KEY = 'to.router_to_ez'
RABBITMQ_QUEUE = 'q.in_gateway'
RABBITMQ_RETRIES = 3

# ROUTING PARAMETERS

