# ONLY EXAMPLE CONFIG

PIPELINE=prod
SYSTEM_PROMPT=default
MAX_CONCURRENT_REQUESTS=32
PREFETCH_COUNT = 32

# LOGGING
LOG_FILE=test.log
LOG_LEVEL=INFO

#METRICS
METRICS_PORT=9090
METRICS_SERVICE_NAME=llm

MESSAGE_BROKER=rabbitmq

# RABBIT
RABBITMQ_URI = 'amqp://fluence_llm_stl:rabbit_changeme@rabbitmq:5672/%2Ffluence_translation'
RABBITMQ_EXCHANGE = 'fluence_translation.topic'
RABBITMQ_ROUTING_KEY = 'to.out_gateway'
RABBITMQ_QUEUE = 'q.nmt_to_llm'
RABBITMQ_RETRIES = 3

# OPENAI API FOR VLLM
OPENAI_API_KEY=''
OPENAI_API_BASE_URL='http://vllm:8000/v1'
OPENAI_API_TIMEOUT=10
OPENAI_API_MAX_RETRIES=3
OPENAI_API_MAX_TOKENS=256
OPENAI_API_MODEL='Qwen/Qwen3-4B-AWQ'
OPENAI_API_TEMP=0.0
OPENAI_API_MAX_CONCURRENCY=16
