# ONLY EXAMPLE CONFIG

PIPELINE=prod

# LOGGING
LOG_FILE=test.log
LOG_LEVEL=INFO

MESSAGE_BROKER=rabbitmq

# RABBIT
RABBITMQ_URI = 'amqp://fluence_nmt_stl:rabbit_changeme@rabbitmq:5672/%2Ffluence_translation'
RABBITMQ_EXCHANGE = 'fluence_translation.topic'
RABBITMQ_ROUTING_KEY = 'to.out_gateway'
RABBITMQ_QUEUE = 'q.nmt_to_llm'
RABBITMQ_RETRIES = 3

# OPENAI API FOR VLLM
