# ONLY EXAMPLE CONFIG

PIPELINE=prod
HF_TOKEN=...

# LOGGING
LOG_FILE=test.log
LOG_LEVEL=INFO

MESSAGE_BROKER=rabbitmq

# RABBIT
RABBITMQ_URI = 'amqp://fluence_nmt_stl:rabbit_changeme@rabbitmq:5672/%2Ffluence_translation'
RABBITMQ_EXCHANGE = 'fluence_translation.topic'
RABBITMQ_ROUTING_KEY = 'to.nmt_to_llm'
RABBITMQ_QUEUE = 'q.router_to_nmt'
RABBITMQ_RETRIES = 3

# NMT
NMT_MODEL=facebook/nllb-200-distilled-600M
NMT_SRC_LANG=rus_Cyrl
NMT_TGT_LANG=eng_Latn
NMT_MAX_NEW_TOKENS=256
NMT_MAX_LENGTH=512

