# ONLY EXAMPLE CONFIG

PIPELINE=batch
HF_TOKEN=...
TRANSLATION_WORKERS=64

# LOGGING
LOG_FILE=test.log
LOG_LEVEL=INFO

MESSAGE_BROKER=rabbitmq

# RABBIT
RABBITMQ_URI = 'amqp://fluence_nmt_stl:rabbit_changeme@rabbitmq:5672/%2Ffluence_translation'
RABBITMQ_EXCHANGE = 'fluence_translation.topic'
RABBITMQ_ROUTING_KEY = 'to.nmt_to_llm'
RABBITMQ_QUEUE = 'q.router_to_nmt'
RABBITMQ_RETRIES = 3
RABBITMQ_PREFETCH_COUNT = 32

# NMT DEPRECATED !!!
NMT_MODEL=facebook/nllb-200-distilled-600M
NMT_SRC_LANG=rus_Cyrl
NMT_TGT_LANG=eng_Latn
NMT_MAX_NEW_TOKENS=256
NMT_MAX_LENGTH=512

# CT2NMT
CT2NMT_MODEL_REPO='OpenNMT/nllb-200-distilled-1.3B-ct2-int8'
CT2NMT_MODEL_DIR='./ct2nmt_model'
CT2NMT_SRC_LANG=eng_Latn
CT2NMT_TGT_LANG=rus_Cyrl
CT2NMT_INTRA_THREADS=8
CT2NMT_INTER_THREADS=4



