torch
torchvision
uvloop
ctranslate2
huggingface_hub
python-dotenv
transformers
sentencepiece
accelerate

git+https://github.com/Manga-ai-project/toolbox-logging.git
git+https://github.com/Manga-ai-project/toolbox-rabbitmq.git