--extra-index-url https://download.pytorch.org/whl/cu121

torch==2.5.1+cu121
torchvision==0.20.1+cu121
uvloop
ctranslate2[cuda]
huggingface_hub
python-dotenv
transformers
sentencepiece
orjson

git+https://github.com/Manga-ai-project/toolbox-logging.git
git+https://github.com/Manga-ai-project/toolbox-rabbitmq.git
git+https://github.com/About-to-break/telephon.git